:root{
    --cells: 10;
}

nav img{
    width: 60px;
    height: 60px;
}

main{
    background-color: #7fffd4;
}

.grid-Normal{
    border: 1px solid #1e3e33;
    width: 750px;
    height: 750px;
}

.cell{
    border: 1px solid #1e3e33;
    cursor: pointer;
}

.Normal{
    width: calc(100% / var(--cells));
    height: calc(100% / var(--cells));
}


.toggle{
    background-color: rgba(15, 156, 156, 0.63);
    color: white;
    font-weight: bold;
}